<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8">
    <title>เดินตามรอยพ่อ</title>
    <link rel="shortcut icon" type="images/x-icon" href="images/ico.png"/>
    <link href="https://fonts.googleapis.com/css?family=Pridi:400,600" rel="stylesheet">
    <script type="text/javascript" src="javascripts/initMap.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm253oNfhS4tZCPLNpR8x_butc4CLjNwo&callback=readThai"></script>
    <script>
        /* Facebook comment code */
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>